body {
    background: #fffefd;
    margin: 0;
}

/* header styles */

.header-container {
    background: #9dedff;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    height: 42px;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-size: 25px;
}

.header-item {
    height: 100%;
    width: 100%;
    line-height: 42px;
    text-align: center;
    border-radius: 25px;
}

.header-item:hover {
    cursor: pointer;
    background: #4aafc6;
}

.header-container > a {
    text-decoration: none;
    color: black;
}

/* content styles */

.content {
    margin: 10px;
}

/* about styles */

#about {

}

.about-item {
    display: grid;
}

.odd {
    grid-template-columns: 2fr 4fr;
}

.even {
    grid-template-columns: 4fr 2fr;
}

.about-photo {

}

.about-text {
    text-align: justify;
    margin: 10px;
}

.about-photo > img {
    width: 100%;
    border-radius: 50px;
}

/* features styles*/

#feature {
    padding-top: 42px;
    display: grid;
    grid-template-rows: 500px 50px;
}

.feature-paginator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.feature-paginator button {
    border: none;
    background: #0e757e;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
}

.feature {
    display: grid;
    grid-template-rows: 50px 350px 100px;
    align-items: center;
    justify-items: center;
}
.feature img {
    max-height: 70%;
}


/* subs styles */
.subscribe-text {
    width: 60%;
    margin: auto;
    text-align: justify;
}

.subscribe-form {
    margin-top: 20px;
}

input, select {
    height: 35px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding-left: 15px;
}

#submit-form {
    height: 40px;
    background: chocolate;
    border: none;
    border-radius: 15px;
}
#submit-form:hover {
    cursor: pointer;
    opacity: 80%;
}


/* footer styles */

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    align-items: center;
}

.footer-item {
    text-align: center;
}

.footer-item > a {
    text-decoration: none;
    color: black;
}

.footer-item > a:hover {
    text-decoration: underline;
}